<%- include('../port/layout-start')%>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>
        <br>
        <h1 class="display-4">Page not found</h1>
        <br><br><br>
    </div>
</div>

<%- include('../port/layout-end') %>