@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
    box-sizing: border-box;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root {
    /* color */
    --blue-100: hsl(195, 74%, 62%);
    --blue-200: hsl(236, 100%, 87%);
    --blue-400: hsl(235, 45%, 61%);
    --blue-500: hsl(246, 80%, 60%);
    --blue-800: hsl(235, 46%, 20%);
    --blue-900: hsl(226, 43%, 10%);
    --red-100: hsl(15, 100%, 70%);
    --red-200: hsl(348, 100%, 68%);
    --green-100: hsl(145, 58%, 55%);
    --violet-500: hsl(264, 64%, 52%);
    --orange-100: hsl(43, 84%, 65%);

    /* typography */
    --family: 'Rubik', sans-serif;
    --fs-base: 18px;
    --weight-light: 300;
    --weight-normal: 400;
    --weight-bold: 500;

    /* borders */
    --radii: 1rem;
    --radii-full: 50%;
}

body {
    margin: 0;
    background-color: var(--blue-900);

    font-family: var(--family);
    font-size: var(--fs-base);
    color: white;
}

.ws_title {
    display: inline-block;
    color: white;
    font-size: 82px;
    font-family: sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 90px;
}

.dashboard {
    min-height: 90vh;
    padding: 4rem 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -11vh
}

.dashboard__content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    display: grid;
    gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(300px, 330px));
}

.dashboard__person {
    width: 100%;
    background-color: var(--blue-800);
    border-radius: var(--radii);
}

.info-card {
    background-color: var(--blue-500);
    border-radius: var(--radii);
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.info-card__subtitle {
    font-weight: var(--weight-light);
    margin: 0;
    font-size: 12px;
}
.info-card__title {
    font-weight: var(--weight-light);
    margin: 0.5rem 0 0;
}
.view-selector {
    padding: 1.25rem 2rem;
    display: flex;
    justify-content: space-between;
}
.dashboard__item {
    width: 100%;
    padding-top: 2.15rem;
    background-color: white;
    border-radius: var(--radii);

    background-repeat: no-repeat;
    background-position: 92% -8%;
}
.dashboard__item--work {
    background-color: var(--red-100);
}
.dashboard__item--play {
    background-color: var(--blue-100);
}
.dashboard__item--study {
    background-color: var(--red-200);
}
.dashboard__item--exercise {
    background-color: var(--green-100);
}
.dashboard__item--social {
    background-color: var(--violet-500);
}

.tracking-card {
    background-color: var(--blue-800);
    border-radius: var(--radii);

    padding: 1.25rem;
    position: relative;
    bottom: -2px;
}

.tracking-card__time {
    font-size: 32px;
    font-weight: var(--weight-light);
}
.tracking-card__prev-period {
    font-weight: var(--weight-light);
    font-size: 12px;
    color: var(--blue-200)

}
.dashboard__item:hover .tracking-card {
    background-color: var(--blue-500);
}

@media (min-width: 1024px) {
    .dashboard__content {
        grid-template-columns: repeat(4, 1fr);
    }
    .dashboard__person {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        height: 100%;

        display: flex;
        flex-direction: column;
    }
    .info-card {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;
    }

    .info-card__photo {
        margin-bottom: 1.5rem;
    }

    .info-card__title {
        font-size: 33px;
    }

    .info-card__school {
        font-size: 15px;
        font-family: 'Rubik', sans-serif;
    }

    .view-selector {
        flex-direction: column;
    }
    .card_but {
        margin-bottom: 1rem;
        text-decoration: none;
        color: white;
    }

    .info-card_but {
        margin-bottom: 1rem;
        text-decoration: none;
        color: white;
        position: absolute;
        display: block;
    }

    .tracking-card__body {
        flex-direction: column;
        align-items: flex-start;
    }
    .tracking-card__time {
        margin-bottom: 0.75rem;
        font-size: 48px;
    }

    .checkbox {
        --first-color: #243743;
        --second-color: #28b78d;
        --width: 70px;
        --height: 40px;
        --offset: 3px;
        --duration: 0.3s;
        cursor: pointer;
    }

    .checkbox:hover {
        filter:brightness(1.2);
    }

    .checkbox__div {
        position: relative;
        width: var(--width);
        height: var(--height);
        border-radius: var(--width);
        background-color: var(--first-color);
        transition: var(--duration);
    }

    .checkbox__input {
        display: none;
    }

    .checkbox__input:checked ~ .checkbox__div {
        background-color: var(--second-color);
    }

    .checkbox__input:checked ~ .checkbox__div:before {
        background-color: var(--first-color);
        left: calc(var(--width) - var(--height) + var(--offset));
    }

    .checkbox__div:before {
        content: '';
        position: absolute;
        top: var(--offset);
        left: var(--offset);
        width: calc(var(--height) - 2 * var(--offset));
        height: calc(var(--height) - 2 * var(--offset));
        background-color: var(--second-color);
        border-radius: 50%;
        transition: var(--duration);
    }

    .display-4 {
        text-align: center;
        vertical-align: middle;
    }

    .bn3637 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        backface-visibility: hidden;
        border: 0.3rem solid transparent;
        border-radius: 3rem;

    }

    .bn36 {
        border-color: #fff;
        transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    }

    .bn36:hover {
        transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    }

    .login-card {
        width: 450px;
        background: rgba(255, 255, 255, .5);
        padding: 4rem;
        border-radius: 10px;
        position: relative;
    }

    .login-card::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255, .15);
        transform: rotate(-6deg);
        border-radius: 10px;
        z-index: -1;
    }
    /* ---------- */

    /* Login Card Logo */
    .login-card-logo {
        margin-bottom: 2rem;
    }

    .login-card-logo img {
        width: 60px;
    }
    /* ---------- */

    /* Login Card Standard */
    .login-card-logo,
    .login-card-header,
    .login-card-footer {
        text-align: center;
    }

    .login-card a {
        text-decoration: none;
        color: #35339a;
    }

    .login-card a:hover {
        text-decoration: underline;
    }
    /* ---------- */

    /* Login Card Header */
    .login-card-header {
        margin-bottom: 2rem;
    }

    .login-card-header h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    .login-card-header h1+div {
        font-size: calc(1rem * .8);
        opacity: .8;
    }
    /* ---------- */

    /* Login Card Form */
    .login-card-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .login-card-form .form-item {
        position: relative;
    }

    .login-card-form .form-item .form-item-icon {
        position: absolute;
        top: .82rem;
        left: 1.4rem;
        font-size: 1.3rem;
        opacity: .4;
    }


    .login-card-form .form-item-other {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: calc(1rem * .8);
        margin-bottom: .5rem;
    }
    /* ---------- */

    /* Login Card Footer */
    .login-card-footer {
        margin-top: 1.5rem;
        font-size: calc(1rem * .8);
    }
    /* ---------- */

    /* Login Card Form Elements */
    .login-card input[type="text"],
    .login-card input[type="password"],
    .login-card input[type="email"] {
        border: none;
        outline: none;
        background: rgba(255, 255, 255, .3);
        padding: 1rem 1.5rem;
        padding-left: calc(1rem * 3.5);
        border-radius: 100px;
        width: 100%;
        transition: background .5s;
    }

    .login-card input:focus {
        background: white;
    }

    .login-card input[type="checkbox"] {
        width: 16px;
        height: 16px;
        accent-color: black;
    }

    .login-card button {
        background: black;
        color: white;
        padding: 1rem;
        border-radius: 100px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: background .5s;
    }

    .login-card button:hover {
        background-color: rgba(0, 0, 0, 0.85);
        cursor: pointer;
    }
    /* ---------- */

    /* Login Card Social Buttons */
    .login-card-social {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
        margin-top: 3rem;
    }

    .login-card-social>div {
        opacity: .8;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: calc(1rem * .8);
    }

    .login-card-social-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .login-card-social-btns a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, .6);
        border-radius: 100px;
        transition: all .5s;
    }

    .login-card-social-btns a:hover {
        background-color: white;
        transform: scale(1.1);
    }
    /* ---------- */


    /* Responsive */
    @media (max-width: 768px) {

        body {
            padding: 2rem 0;
        }

        .login-card {
            width: 280px;
            padding: 2rem;
        }

    }


}

