<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="stylesheet" type="text/css" href="../style.css">

    <title>PocketSage</title>

</head>
<body>

<style>
    .bn3637 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        backface-visibility: hidden;
        border: 0.3rem solid transparent;
        border-radius: 3rem;

    }

    .bn36 {
        border-color: #fff;
        transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    }

    .bn36:hover {
        transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    }
</style>

<div style="text-align: center; font-size: 30px"><h1>Актировка</h1></div>
<br><br><br><br>
<div style="text-align: center;"><a href="#" class="bn3637 bn36" id="check_">Проверить актировку</a></div>

<br><br><br><br>
<div style="text-align: center; font-size: 25px">1 Смена: </div>
<br>
<div style="text-align: center; font-size: 25px">2 Смена: </div>
<br><br><br>
<div style="text-align: center; font-size: 25px">Текущая температура: <%= temperature%> </div>
<br>
<div style="text-align: center; font-size: 25px">Текущая скорость ветра: <%= windSpeed%> </div>

<script>
    document.getElementById('check_').addEventListener('click', ()=> {
        location.reload()
    })
</script>

    <div style="position:fixed; left:0; bottom:0; width:100%; text-align:center; font-size: 14px">Coded By Vuimov Nikita</div>
</body>
</html>
