<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="stylesheet" type="text/css" href="../style.css">

    <title>PocketSage</title>

</head>
<body>

<div style="text-align: center;"><h1 class="display-4">Это пока пустой шаблон</h1></div>



<script>
</script>

<div style="position:fixed; left:0; bottom:0; width:100%; text-align:center; font-size: 14px">Coded By Vuimov Nikita</div>
</body>
</html>
