<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>PocketSage</title>


</head>
<body>

<% if(user.isLogged) { %>
    <h1 class="display-4">Электронный дневник</h1>
    <br>

    <label class="checkbox" id="1">
        <input type="checkbox" class="checkbox__input">
        Оценки
        <div class="checkbox__div"></div>
    </label>

    <label class="checkbox" id="2">
        <input type="checkbox" class="checkbox__input">
        Список ДЗ
        <div class="checkbox__div"></div>
    </label>
    <br><br><br><br><br><br><br><br><br><br><br><br>


<% } else { %>
    <a href="http://localhost:3002/pocketsages/log_in" style="color: white">
    <h1 class="display-4">Войдите в свой аккаунт ГОСУСЛУГИ</h1>
    </a>
<% } %>

<div class="attribution">
    Coded by Vuimov Nikita
</div>

<script>
    //document.getElementsByClassName('display-4').onclick = function () {window.location.href = "http://localhost:3002/pocketsages/lol"}
</script>

</body>
</html>

