<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="stylesheet" type="text/css" href="../style.css">

    <title>PocketSage</title>

    <style>
        .separated-text {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .separated-text div {
            flex-basis: 100%;
            text-align: center;
            border-top: 1px solid #ddd;
            padding-top: 10px;
            margin-top: 10px;
        }
        .header {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <div style="text-align: center;"><h1 style="font-size: 45px">Полезные ссылки</h1></div>
    <br><br>
    <div style="text-align: center">
        <div class="separated-text">
            <div>
                <span class="header">Общее</span>
                <br><br>
                <span style="font-size: 25px"><a href="https://lizei1.gosuslugi.ru/" style="color: white">МБОУ "Лицей №1"</a> ; <a href="https://lizei1.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://sosh1ugansk.gosuslugi.ru/" style="color: white">МБОУ "СОШ №1"</a> ; <a href="https://sosh1ugansk.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://sosh2ugansk.gosuslugi.ru/" style="color: white">МБОУ «СОШ № 2 им. А.И. Исаевой»</a> ; <a href="https://sosh2ugansk.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://shkola3nefteyugansk-r86.gosweb.gosuslugi.ru/" style="color: white">МБОУ "СОШ №3 имени А.А.Ивасенко"</a> ; <a href="https://shkola3nefteyugansk-r86.gosweb.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://shkola4nefteyugansk-r86.gosweb.gosuslugi.ru/" style="color: white">МБОУ "СОКШ №4"</a> ; <a href="https://shkola4nefteyugansk-r86.gosweb.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://sosh5-ugansk.gosuslugi.ru/" style="color: white">МБОУ «СОШ № 5 «Многопрофильная»</a> ; <a href="https://sosh5-ugansk.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://sosh6ugansk.gosuslugi.ru/" style="color: white">МБОУ "СОШ №6"</a> ; <a href="https://sosh6ugansk.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://shkola7nefteyugansk-r86.gosweb.gosuslugi.ru/" style="color: white">МБОУ «СОШ № 7»</a> ; <a href="https://shkola7nefteyugansk-r86.gosweb.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://sosh8ugansk.gosuslugi.ru/" style="color: white">МБОУ "СОШ №8"</a> ; <a href="https://sosh8ugansk.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://sosh9ugansk.gosuslugi.ru/" style="color: white">МБОУ "СОШ № 9"</a> ; <a href="https://sosh9ugansk.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://shkola10nefteyugansk-r86.gosweb.gosuslugi.ru/" style="color: white">МБОУ «СОШ № 10»</a> ; <a href="https://shkola10nefteyugansk-r86.gosweb.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://specschool86.gosuslugi.ru/" style="color: white">КОУ "Нефтеюганская школа-интернат для обучающихся с ОВЗ"</a> ; <a href="https://specschool86.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://shkola13nefteyugansk-r86.gosweb.gosuslugi.ru/" style="color: white">МБОУ "СОШ №13" г. Нефтеюганск</a> ; <a href="https://shkola13nefteyugansk-r86.gosweb.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://sosh14ugansk.gosuslugi.ru/" style="color: white">МБОУ "СОШ № 14"</a> ; <a href="https://sosh14ugansk.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://shkola15ugansk.gosuslugi.ru/" style="color: white">МБОУ "Начальная школа №15"</a> ; <a href="https://shkola15ugansk.gosuslugi.ru/" style="color: white; text-decoration: none">Официальный сайт</a> </span>
                <br>
                <br>
                <span style="font-size: 25px"><a href="https://cop.admhmao.ru" style="color: white">ЦОП ХМАО - ЮГРЫ</a> ; <a href="https://cop.admhmao.ru" style="color: white; text-decoration: none">Цифровая образовательная платформа ХМАО</a> </span>
                <br>
            </div>
            <div>
                <span class="header">ЕГЭ</span>
                <br><br>
                <span style="font-size: 25px"><a href="https://ege.sdamgia.ru/" style="color: white">РЕШУ ЕГЭ</a> ; <a href="https://ege.sdamgia.ru/" style="color: white; text-decoration: none">Образовательный портал для подготовки к экзаменам</a> </span>
                <br>
                <span style="font-size: 25px"><a href="https://fipi.ru/ege/otkrytyy-bank-zadaniy-ege" style="color: white">ФИПИ</a> ; <a href="https://fipi.ru/ege/otkrytyy-bank-zadaniy-ege" style="color: white; text-decoration: none">Открытый банк заданий ЕГЭ</a> </span>
            </div>
            <div>
                <span class="header">ОГЭ</span>
                <br><br>
                <span style="font-size: 25px"><a href="https://oge.sdamgia.ru/" style="color: white">РЕШУ ОГЭ</a> ; <a href="https://oge.sdamgia.ru/" style="color: white; text-decoration: none">Образовательный портал для подготовки к экзаменам</a> </span>
                <br>
                <span style="font-size: 25px"><a href="https://fipi.ru/oge/otkrytyy-bank-zadaniy-oge" style="color: white">ФИПИ</a> ; <a href="https://fipi.ru/oge/otkrytyy-bank-zadaniy-oge" style="color: white; text-decoration: none">Открытый банк заданий ОГЭ</a> </span>
            </div>
            <div>
                <span class="header">ВПР</span>
                <br><br>
                <span style="font-size: 25px"><a href="https://vpr.sdamgia.ru/" style="color: white">РЕШУ ВПР</a> ; <a href="https://vpr.sdamgia.ru/" style="color: white; text-decoration: none">Образовательный портал для подготовки к экзаменам</a> </span>
                <br>
                <span style="font-size: 25px"><a href="#" style="color: white">Название сайта</a> ; <a href="#" style="color: white; text-decoration: none">Описание сайта (тоже кликабельно)</a> </span>
            </div>
        </div>
    </div>
    <br><br><br><br><br>

    <div style="position:fixed; left:0; bottom:0; width:100%; text-align:center; font-size: 14px">Coded By Vuimov Nikita</div>
</body>
</html>
