<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>PocketSage</title>


</head>
<body>

<div style="text-align: center;"><h1 style="font-size: 82px;font-family: sans-serif; margin-bottom: -12vh">PocketSage</h1></div>

<section class="dashboard">
    <div class="dashboard__content">
        <div class="dashboard__person">
            <div class="info-card">
                <div class="info-card__text">
                    <% if(user.name !== 'no_information323') { %>
                        <p class="info-card__subtitle"> Карточка ученика </p>
                        <br>
                        <h3 class="info-card__title"><%= user.name %></h3>
                        <p class="info-card__school"> Школа № <%= user.school %></p>
                    <% } else { %>
                        <br>
                        <h3 class="info-card__title"><a href="http://localhost:3002/pocketsages/card_settings" class="card_but" style="font-size: 30px">Настройте карточку ученика</a> </h3>
                    <% } %>

                </div>
            </div>
            <div class="view-selector">
                <a  style="color: white; text-decoration: none; margin-bottom: 1rem; margin-right: 0.5rem; margin-left: -1rem" href="http://localhost:3002/pocketsages/log_in" id="lg">Войти в аккаунт ГОСУСЛУГИ</a>
                <a  style="color: white; text-decoration: none; margin-bottom: 1rem; margin-right: 2rem; margin-left: -1rem" href="http://localhost:3002/pocketsages/card_settings" id="card_set">Настройка карточки</a>
                <a  style="color: white; text-decoration: none; margin-bottom: 1rem; margin-left: -1rem" href="http://localhost:3002/pocketsages/error_feedback" id="er_fd">Сообщить об ошибке</a>
                <br>
            </div>
        </div>

        <div class="dashboard__item dashboard__item--work" id="ekj">
            <article class="tracking-card">
                <div class="tracking-card__body">
                    <div class="tracking-card__time">Электронный дневник</div>
                    <br>
                    <div class="tracking-card__prev-period">Проверьте свои оценки и получите список ДЗ за пару кликов</div>
                </div>
            </article>
        </div>

        <div class="dashboard__item dashboard__item--play" id="actirovka">
            <article class="tracking-card">

                <div class="tracking-card__body">
                    <div class="tracking-card__time">Проверить актировку</div>
                    <br>
                    <div class="tracking-card__prev-period">Получить актуальную информацию об актировках в городе</div>
                </div>
            </article>
        </div>

        <div class="dashboard__item dashboard__item--study" id="notes">
            <article class="tracking-card">

                <div class="tracking-card__body">
                    <div class="tracking-card__time">Мои заметки</div>
                    <br>
                    <div class="tracking-card__prev-period">Записывайте, редактируйте и удаляйте нужную информацию</div>
                </div>
            </article>
        </div>

        <div class="dashboard__item dashboard__item--exercise" id="links">
            <article class="tracking-card">

                <div class="tracking-card__body">
                    <div class="tracking-card__time">Полезные ссылки</div>
                    <br>
                    <div class="tracking-card__prev-period">От сайтов школ до википедии</div>
                </div>
            </article>
        </div>

        <div class="dashboard__item dashboard__item--social" id="calc">
            <article class="tracking-card">

                <div class="tracking-card__body">
                    <div class="tracking-card__time">Калькулятор оценок</div>
                    <br>
                    <div class="tracking-card__prev-period">Так сколько же мне нужно сдать долгов?</div>
                </div>
            </article>
        </div>

    </div>
</section>

<div class="attribution">
    Coded by Vuimov Nikita
</div>

<script>
    document.getElementById('ekj').onclick = function () {window.location.href = "http://localhost:3002/pocketsages/ekj"}
    document.getElementById('actirovka').onclick = function () {window.location.href = "http://localhost:3002/pocketsages/actirovka"}
    document.getElementById('notes').onclick = function () {window.location.href = "http://localhost:3002/pocketsages/notes"}
    document.getElementById('links').onclick = function () {window.location.href = "http://localhost:3002/pocketsages/links"}
    document.getElementById('calc').onclick = function () {window.location.href = "http://localhost:3002/pocketsages/calculator"}
</script>



</body>
</html>