<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="stylesheet" type="text/css" href="../style.css">

    <title>PocketSage</title>

</head>
<body>

<h1 class="display-4">Это пока пустой шаблон</h1>

<div class="attribution">
    Coded by Vuimov Nikita
</div>

<script>
</script>

</body>
</html>



